<div class='relative'>
  <div class='absolute left-4 top-1/2 -translate-y-1/2 pointer-events-none text-gray-400'>
    <i class='fas fa-folder text-sm'></i>
  </div>
  <select
    id='{{id}}'
    name='{{name}}'
    class='w-full pl-12 pr-10 py-4 border border-gray-200/60 rounded-2xl focus:ring-2 focus:ring-blue-500/20 focus:border-blue-500 focus:outline-none transition-all duration-300 text-gray-900 bg-white hover:border-gray-300 appearance-none cursor-pointer font-medium shadow-sm hover:shadow-md'
    {{#if required}}required{{/if}}
  >
    <option value=''>{{placeholder}}</option>
    {{#each @root.allCategories}}
      <option
        value='{{_id}}'
        {{#if ../hideParents}}disabled{{/if}}
        {{#if (or (eq @root.req.query.categoryId (toString _id)) (eq ../selectedValue (toString _id)))}}selected{{/if}}
      >
        {{name}}
      </option>
      {{#each subcategories}}
        <option
          value='{{_id}}'
          {{#if (or (eq @root.req.query.categoryId (toString _id)) (eq ../../selectedValue (toString _id)))}}selected{{/if}}
        >
          &nbsp;&nbsp; {{name}}
        </option>
      {{/each}}
    {{/each}}
  </select>
  <div class='absolute right-4 top-1/2 -translate-y-1/2 pointer-events-none text-gray-400'>
    <i class='fas fa-chevron-down text-sm'></i>
  </div>
</div>

